@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Stanford Breath font */
@font-face {
  font-family: 'Stanford Breath';
  src: url('./assets/fonts/Stanford Breath.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}